In [1]:
import numpy as np
import pandas as pd
%load_ext blackcellmagic

In [9]:
!head -15 data/frog_tongue_adhesion.csv

# These data are from the paper,
#   Kleinteich and Gorb, Sci. Rep., 4, 5225, 2014.
# It was featured in the New York Times.
#    http://www.nytimes.com/2014/08/25/science/a-frog-thats-a-living-breathing-pac-man.html
#
# The authors included the data in their supplemental information.
#
# Importantly, the ID refers to the identifites of the frogs they tested.
#   I:   adult, 63 mm snout-vent-length (SVL) and 63.1 g body weight,
#        Ceratophrys cranwelli crossed with Ceratophrys cornuta
#   II:  adult, 70 mm SVL and 72.7 g body weight,
#        Ceratophrys cranwelli crossed with Ceratophrys cornuta
#   III: juvenile, 28 mm SVL and 12.7 g body weight, Ceratophrys cranwelli
#   IV:  juvenile, 31 mm SVL and 12.7 g body weight, Ceratophrys cranwelli
date,ID,trial number,impact force (mN),impact time (ms),impact force / body weight,adhesive force (mN),time frog pulls on target (ms),adhesive force / body weight,adhesive impulse (N-s),total contact area (mm2),contact area without mucus (mm2),contact area with mucus / contact area without mucus,contact pressure (Pa),adhesive strength (Pa)

In [50]:
df = pd.read_csv('data/frog_tongue_adhesion.csv',comment = '#')

In [18]:
df.head()

,date,ID,trial number,impact force (mN),impact time (ms),impact force / body weight,adhesive force (mN),time frog pulls on target (ms),adhesive force / body weight,adhesive impulse (N-s),total contact area (mm2),contact area without mucus (mm2),contact area with mucus / contact area without mucus,contact pressure (Pa),adhesive strength (Pa)
0,2013_02_26,I,3,1205,46,1.95,-785,884,1.27,-0.290,387,70,0.82,3117,-2030
1,2013_02_26,I,4,2527,44,4.08,-983,248,1.59,-0.181,101,94,0.07,24923,-9695
2,2013_03_01,I,1,1745,34,2.82,-850,211,1.37,-0.157,83,79,0.05,21020,-10239
3,2013_03_01,I,2,1556,41,2.51,-455,1025,0.74,-0.170,330,158,0.52,4718,-1381
4,2013_03_01,I,3,493,36,0.80,-974,499,1.57,-0.423,245,216,0.12,2012,-3975

In [19]:
df1 = df.loc[abs(df['adhesive strength (Pa)']) > 2000]
df1.head()

,date,ID,trial number,impact force (mN),impact time (ms),impact force / body weight,adhesive force (mN),time frog pulls on target (ms),adhesive force / body weight,adhesive impulse (N-s),total contact area (mm2),contact area without mucus (mm2),contact area with mucus / contact area without mucus,contact pressure (Pa),adhesive strength (Pa)
0,2013_02_26,I,3,1205,46,1.95,-785,884,1.27,-0.290,387,70,0.82,3117,-2030
1,2013_02_26,I,4,2527,44,4.08,-983,248,1.59,-0.181,101,94,0.07,24923,-9695
2,2013_03_01,I,1,1745,34,2.82,-850,211,1.37,-0.157,83,79,0.05,21020,-10239
4,2013_03_01,I,3,493,36,0.80,-974,499,1.57,-0.423,245,216,0.12,2012,-3975
7,2013_03_05,I,2,1928,46,3.11,-804,508,1.30,-0.285,246,178,0.28,7832,-3266

In [24]:
df.loc[df['ID']=='II', ['impact force (mN)','adhesive force (mN)']]

    impact force (mN)  adhesive force (mN)
20               1612                 -655
21                605                 -292
22                327                 -246
23                946                 -245
24                541                 -553
25               1539                 -664
26                529                 -261
27                628                 -691
28               1453                  -92
29                297                 -566
30                703                 -223
31                269                 -512
32                751                 -227
33                245                 -573
34               1182                 -522
35                515                 -599
36                435                 -364
37                383                 -469
38                457                 -844
39                730                 -648

In [40]:
df2 = df.loc[
    (df["ID"] == "III") | (df["ID"] == "IV"),
    ["ID", "adhesive force (mN)", "time frog pulls on target (ms)"],
]
df2

     ID  adhesive force (mN)  time frog pulls on target (ms)
40  III                  -94                             683
41  III                 -163                             245
42  III                 -172                             619
43  III                 -225                            1823
44  III                 -301                             918
45  III                  -93                            1351
46  III                 -131                            1790
47  III                 -289                            1006
48  III                 -104                             883
49  III                 -229                            1218
50  III                 -259                             910
51  III                 -231                             550
52  III                 -267                            2081
53  III                 -178                             376
54  III                 -123                             289
55  III                 -151                             607
56  III                 -127                            2932
57  III                 -372                             680
58  III                 -236                             685
59  III                 -390                            1308
60   IV                 -456                             462
61   IV                 -193                             250
62   IV                 -236                             743
63   IV                 -225                             844
64   IV                 -217                             728
65   IV                 -161                             472
66   IV                 -139                             959
67   IV                 -264                             844
68   IV                 -342                            1515
69   IV                 -231                             279
70   IV                 -209                            1427
71   IV                 -292                            2874
72   IV                 -339                            4251
73   IV                 -371                             626
74   IV                 -331                            1254
75   IV                 -302                             986
76   IV                 -216                            1627
77   IV                 -163                            2021
78   IV                 -367                            1366
79   IV                 -218                            1269

In [35]:
df2.groupby('ID').mean()

     adhesive force (mN)  time frog pulls on target (ms)
ID
III              -206.75                         1047.70
IV               -263.60                         1239.85

In [85]:
grouped = df.groupby('ID')
grouped['impact force (mN)'].std()

ID
I      630.207952
II     424.573256
III    124.273849
IV     234.864328
Name: impact force (mN), dtype: float64

In [60]:
def coeff_of_var(data):
    """Compute coefficient of variation from an array of data."""
    return np.std(data) / np.mean(data)

In [95]:
df3 = grouped[ ['impact force (mN)','adhesive force (mN)'] ].agg(coeff_of_var).reset_index()
df3

    ID  impact force (mN)  adhesive force (mN)
0    I           0.401419            -0.247435
1   II           0.585033            -0.429701
2  III           0.220191            -0.415435
3   IV           0.546212            -0.308042

In [82]:
def mean_(data):
    return np.mean(data)

In [106]:
stat = (
    df.groupby("ID")[["impact force (mN)", "adhesive force (mN)"]]
    .agg([np.mean, np.median, np.std, coeff_of_var])
    .reset_index()
)
stat

    ID impact force (mN)                                  adhesive force (mN)  \
                    mean  median         std coeff_of_var                mean
0    I           1530.20  1550.5  630.207952     0.401419             -658.40
1   II            707.35   573.0  424.573256     0.585033             -462.30
2  III            550.10   544.0  124.273849     0.220191             -206.75
3   IV            419.10   460.5  234.864328     0.546212             -263.60


  median         std coeff_of_var
0 -664.5  167.143619    -0.247435
1 -517.0  203.811600    -0.429701
2 -201.5   88.122448    -0.415435
3 -233.5   83.309442    -0.308042

In [110]:
#tidy this list 
stat_tidy = pd.melt(stat,value_name = 'value', var_name = ['force','statistic'],id_vars = 'ID')
stat_tidy

     ID                force     statistic        value
0     I    impact force (mN)          mean  1530.200000
1    II    impact force (mN)          mean   707.350000
2   III    impact force (mN)          mean   550.100000
3    IV    impact force (mN)          mean   419.100000
4     I    impact force (mN)        median  1550.500000
5    II    impact force (mN)        median   573.000000
6   III    impact force (mN)        median   544.000000
7    IV    impact force (mN)        median   460.500000
8     I    impact force (mN)           std   630.207952
9    II    impact force (mN)           std   424.573256
10  III    impact force (mN)           std   124.273849
11   IV    impact force (mN)           std   234.864328
12    I    impact force (mN)  coeff_of_var     0.401419
13   II    impact force (mN)  coeff_of_var     0.585033
14  III    impact force (mN)  coeff_of_var     0.220191
15   IV    impact force (mN)  coeff_of_var     0.546212
16    I  adhesive force (mN)          mean  -658.400000
17   II  adhesive force (mN)          mean  -462.300000
18  III  adhesive force (mN)          mean  -206.750000
19   IV  adhesive force (mN)          mean  -263.600000
20    I  adhesive force (mN)        median  -664.500000
21   II  adhesive force (mN)        median  -517.000000
22  III  adhesive force (mN)        median  -201.500000
23   IV  adhesive force (mN)        median  -233.500000
24    I  adhesive force (mN)           std   167.143619
25   II  adhesive force (mN)           std   203.811600
26  III  adhesive force (mN)           std    88.122448
27   IV  adhesive force (mN)           std    83.309442
28    I  adhesive force (mN)  coeff_of_var    -0.247435
29   II  adhesive force (mN)  coeff_of_var    -0.429701
30  III  adhesive force (mN)  coeff_of_var    -0.415435
31   IV  adhesive force (mN)  coeff_of_var    -0.308042